@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
   /* background-image: url(design.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.container img{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
.container p{
    margin-right:150px;
    margin-top: 10px;
    text-align: justify;
    width: 500px;
}
.principal{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
 a{
    color: blue;
    text-decoration: none;
}
.uta{
    width: 50px;
    
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.div2 p{
    font-size: 20px;
    text-align: center;
}
.div1 img{
    margin-top: 20px;
    width: 185px;
    height: 131px;
    border-radius: 10%;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu{
    width: 100%;
    height: 50px;
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 15rem;
    float: left;
}
.menu a{
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    text-align: center;
}
label[for="bt_menu"]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-style: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#bt_menu,label[for="bt_menu"]{
    display: none;
}
@media(max-width: 800px){
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    label[for="bt_menu"]{
        display: block;
    }
    .menu ul li{
        float: none;
        width: 100%;
    }
}